*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
// Global

.portfolio-header {
  background: #fff;
  .portfolio-header__content {
    padding-top: 120px;

    // Breadcrumb
    .portfolio-header__breadcrumb {
      display: flex;
      font-size: 13px;

      li {
        color: #000;
      }

      li + li:before {
        padding: 0 4px 0 9px;
        color: #000;
        content: "/\00a0";
      }
    }

    // Portfolio heading
    h1 {
      padding: 32px 0 41px 0;
      text-align: center;
      font-size: 34px;
      text-transform: uppercase;
      color: #899495;
      letter-spacing: 2px;
      font-weight: bold;
    }
    span {
      color: #0fa2e6;
      font-weight: bold;
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}

// Header styling ends here

// Slider styling begins here

// slick slider

.slick-prev,
.slick-next {
  margin-top: -104px;
  box-sizing: border-box;

  svg {
    fill: #899495;
  }
}

.project-slider {
  background: #fff;
  padding-bottom: 65px;
  .project-slider__data {
    .project-slider__data__project {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      .project-slider__data__project__image {
        margin-bottom: 30px;
      }
      .project-slider__data__project__content {
        width: 87.5%;
        margin: auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 70px;
        .project-slider__data__project__content__text {
          h2 {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 20px;
          }
          p {
            font-size: 14px;
          }
        }
        .project-slider__data__project__content__details {
          h3 {
            font-size: 22px;
            font-weight: bold;
          }
          a {
            display: inline-block;
            padding: 15px 71px;
            background-color: #0fa2e6;
            color: #fff;
            font-weight: normal;
            text-transform: uppercase;
            margin-top: 20px;
            text-align: center;
            // letter-spacing: 0.4px;
          }
          a:hover {
            background-color: #f48038;
            letter-spacing: 4px;
            padding: 15px 33px;
          }
        }
      }
    }
  }
}

// Filter items

.icon-plus {
  background: url("../../../images/projects/plus-solid.svg") no-repeat center
    center/cover;
  height: 16px;
  width: 16px;
  margin-top: 3px;
  margin-right: 10px;
  filter: invert(47%) sepia(99%) saturate(1956%) hue-rotate(161deg)
    brightness(94%) contrast(101%);
}
.icon-minus {
  background: url("../../../images/projects/minus-solid.svg") no-repeat center
    center/cover;
  height: 16px;
  width: 16px;
  margin-top: 3px;
  margin-right: 10px;
  filter: invert(47%) sepia(99%) saturate(1956%) hue-rotate(161deg)
    brightness(94%) contrast(101%);
}

.icon-plus,
.icon-minus {
  display: none;
}

.filter-projects__content__list__header {
  display: flex;
}

.filter-projects {
  .container {
    width: 76.5%;
    margin: auto;
    position: relative;

    #showfilters {
      cursor: pointer;
    }

    .filter-projects__filter {
      position: absolute;
      top: -41px;
      padding: 13px 91px 13px 20px;
      border: none;
      background: #899495;
      color: #fff;
    }
    .filter-projects__filter:after {
      content: "▼";
      font-size: 0.8rem;
      position: absolute;
      right: 10px;
      color: #fff;
      z-index: 1;
    }
    .filter-projects__filter2:after {
      content: "▲";
      font-size: 0.8rem;
      position: absolute;
      right: 10px;
      color: #fff;
      z-index: 1;
    }
    .filter-projects__content {
      padding-top: 70px;
      padding-bottom: 50px;

      .filter-projects__content__heading {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 60px;
        .filter-projects__content__heading__text {
          h2 {
            font-size: 32px;
            font-weight: bold;
            span {
              color: #0fa2e6;
              font-weight: bold;
            }
          }
          p {
            font-size: 13px;
            margin: 11px 0 40px 0;
          }
        }
        button {
          align-self: flex-start;
          justify-self: flex-start;
          display: inline-block;
          font-size: 16px;
          padding: 9px 28px;
          background: #fff;
          border: 1px solid black;
          letter-spacing: 0.8px;
          cursor: pointer;
        }
        button:hover {
          background: #899495;
          color: #fff;
          border: 1px solid #899495;
        }
      }
      .filter-projects__content__list {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 60px;

        label {
          display: block;
          white-space: nowrap;
        }

        input {
          vertical-align: middle;
          margin-right: 15px;
          align-self: center;
          height: 15px;
          width: 15px;
          display: none;
          cursor: pointer;
        }

        label {
          align-self: center;
        }

        label:before {
          content: "";
          -webkit-appearance: none;
          background-color: transparent;
          border: 1px solid #899495;
          // padding: 5px;
          height: 16px;
          width: 16px;
          display: inline-block;
          position: relative;
          vertical-align: middle;
          cursor: pointer;
          margin-bottom: 2px;
          margin-right: 12px;
        }

        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 16px;
          width: 16px;
          background-color: rgb(255, 255, 255);
        }

        input:checked ~ .checkmark {
          background-color: #2196f3;
        }

        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        input:checked ~ .checkmark:after {
          display: block;
        }

        .checkmark:after {
          left: 5.4px;
          top: 2.2px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        h3 {
          font-size: 22px;
          margin-bottom: 21px;
          font-weight: bold;
          color: #0fa2e6;
        }
        li {
          position: relative;
          margin-bottom: 20px;
          display: flex;
        }

        .filter-projects__content__list__services {
          ul {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
          }
        }
        .filter-projects__content__list__services__grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
        }
      }
    }
  }
}

// Project list styling starts here
.showLoadedGrid {
  display: none;
}
.projects-list {
  padding: 65px 0;
  background-color: #fff;
  .container {
    width: 76.5%;
    .projects-list__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      margin-bottom: 40px;

      img {
        align-self: center;
        justify-self: center;
      }
      .projects-list__grid__text {
        align-self: center;
        h3 {
          font-size: 22px;
          color: #0fa2e6;
          margin-bottom: 5px;
          font-weight: bold;
        }
        h4 {
          font-size: 16px;
          color: #535353;
          margin-bottom: 20px;
          font-weight: bold;
        }
        p {
          font-size: 14px;
          color: #535353;
        }
      }
    }
  }

  button {
    display: flex;
    margin: auto;
    background: #0fa2e6;
    color: #fff;
    border: none;
    padding: 15px 115px;
    font-size: 16px;
    letter-spacing: 0.8px;
    cursor: pointer;
  }
  button:hover {
    background: #f48038;
    padding: 15px 101px;
    letter-spacing: 4px;
  }
}
.noContent {
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: not-allowed !important;
}
.noContent:hover {
  padding: 15px 115px !important;
  letter-spacing: 0.8px !important;
}

// Project lists styling ends here

// Paragraph section styling starts here

.portfolio-paragraph {
  text-align: center;
  padding: 3.3rem 0;
  background-color: #0fa2e6;
  p {
    max-width: 770px;
    margin: auto;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
  }
}

// Media queries less than 980px screens

@media (max-width: 1000px) {
  // Header
  .portfolio-header {
    .portfolio-header__content {
      padding-top: 80px !important;

      .portfolio-header__breadcrumb {
        justify-content: center;
      }
      // Portfolio heading
      h1 {
        padding: 15px 0 32px 0;
      }
    }
  }

  .list {
    display: none;
  }

  .list.active {
    display: block;
  }

  .icon-plus,
  .icon-minus {
    display: inline-block;
  }

  // Slick controls
  .slick-prev,
  .slick-next {
    margin-top: -138px;
  }

  // Slick slider
  .project-slider {
    padding-bottom: 65px !important;
    .project-slider__data {
      .project-slider__data__project {
        .project-slider__data__project__image {
          margin-bottom: 20px;
          z-index: -100 !important;
        }
        .project-slider__data__project__content {
          width: 100%;
          grid-template-columns: 1fr;
          gap: 30px;
          .project-slider__data__project__content__text {
            h2 {
              font-size: 28px;
            }
          }
          .project-slider__data__project__content__details {
            h3 {
              font-size: 22px;
            }
            a {
              padding: 15px 0 !important;
              width: 100%;
            }
          }
        }
      }
    }
  }
  // Filter items

  .filter-projects {
    .container {
      width: 100%;
      .filter-projects__filter {
        margin-top: 20px;
      }
      .filter-projects__filter {
        top: -61px;
      }

      .filter-projects__content {
        padding-top: 49px;
        .filter-projects__content__heading {
          grid-template-columns: 1fr;
          gap: 0 !important;
          .filter-projects__content__heading__text {
            h2 {
              font-size: 28px;
            }
            p {
              font-size: 13px;
              margin: 11px 0 20px 0;
            }
          }
        }
        .filter-projects__content__list {
          margin-top: 30px;
          grid-template-columns: 1fr;
          gap: 0px !important;
          label span {
            top: 0px !important;
            line-height: 20px;
          }
          h3 {
            font-size: 22px;
            margin-bottom: 21px;
            font-weight: bold;
          }
          li {
            margin-bottom: 20px;
          }
          .filter-projects__content__list__services__grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
          }
          .filter-projects__content__list__services {
            ul {
              columns: 1;
              -webkit-columns: 1;
              -moz-columns: 1;
            }
          }
          .filter-projects__content__list__category {
            order: 1;
            ul {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 30px;
            }
          }
          .filter-projects__content__list__services {
            order: 2;
          }
        }
      }
    }
  }
  // Project list

  .projects-list {
    padding: 45px 0;
    box-sizing: border-box;

    .container {
      width: 100%;
      .projects-list__grid {
        grid-template-columns: 1fr;
      }
    }
  }

  // Paragraph
  .portfolio-paragraph {
    padding: 50px 30px;
  }
}

// Media for devices less than 750px
@media (max-width: 760px) {
  .slick-arrow {
    &.slick-prev,
    &.slick-next {
      margin-top: -175px;
      padding: 15px 8px;
      width: 50px;
      height: 50px;
      background-color: #fff;
      background-size: 34px;
    }
  }
}

// Media for devices less than 600px
@media (max-width: 600px) {
  .slick-arrow {
    &.slick-prev,
    &.slick-next {
      margin-top: -175px;
      padding: 15px 8px;
      width: 50px;
      height: 50px;
      background-color: #fff;
      background-size: 34px;
    }
  }
}

// Media for devices less than 400px
@media (max-width: 400px) {
  .slick-prev,
  .slick-next {
    margin-top: -228px !important;
  }
}
