<section class="services-contact">
    <div class="container">
      <div class="services-contact__grid">
        <p>
          To get started on realizing your landscaping or gardening goals,
          we invite you to contact us anytime by phone or email. We look
          forward to providing you with the best gardening services in
          Tacoma, and to helping make your dreams for your outdoor space a
          reality.
        </p>
        <a href="/contact/">CONTACT US</a>
      </div>
    </div>
  </section>