<section class="services-header">
    <div class="container">
      <div class="services-header__content">
        <ul class="services-header__breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="/services/">Our Services</a></li>
          <li>{{page.service__hero__title}}</li>
        </ul>
      </div>
      <!-- Hero content -->
      <div class="services-header__hero-grid">
        <div class="services-header__hero-grid__text-content">
          <h1>{{page.service__hero__title}}</h1>
          <p>{{page.service__hero__description}}</p>
        </div>
        <!-- Contact us form -->
        {% include service-contact-us.html %}
      </div>
    </div>
  </section>